[bumpversion]
current_version = 1.30.0
commit = True
tag = True

[bumpversion:file:setup.cfg]

[bumpversion:file:pyglui/__init__.py]

[bumpversion:file:pyglui/graph.pyx]

[bumpversion:file:pyglui/ui.pyx]
